@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashboard   {
height: 100%;
margin: 0 auto;

    width: 100%;
}


.container  {
    margin: 0 auto;
    max-width: 1470px;
    width: 100%;
    height: 100%;
    display: flex;
}

.aside  {
    display: flex;
    flex-direction: column;
}
.logo a  {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 2.5rem;
    margin-top: 3.75rem;
    margin-right: 4.5rem;
    text-decoration: none;
}

.logo_img   {
    background: url(../css/img/logo_head.png);
    background-repeat: no-repeat;
    background-position-x:  right;
    background-size: 55%;
}   
.logo_text  {
    margin-left: 11px;
    color: #0F4264;
    
    font-size: 1rem;
}
.navbar {
    margin-left: 3.2rem;
    margin-top: 5rem;
    

}
.navbar_block   {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 0.7rem;
    height: 39px;
}
.navbar_block1   {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 0.7rem;
    height: 39px;
    background: #F0F7FF;
}

.navbar_link    {
    text-decoration: none;
}
.navbar_items   {
    list-style: none;
    margin-left: 1rem;
    font-family: 'Lato';

}
.bottom_text    {
    /* margin-left: 3rem; */
    font-size: 0.8rem;
    /* display: flex;
    align-items: center;*/
    text-align: center; 
}
.bottom_img {
    width: 71.11px;
    height: 46.46px;
    margin: 0 auto;
}
.aside_bottom   {
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 270px;
margin-right: auto;
margin-left: auto;
  
}

.upgrade_btn    {
/* 
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 1rem; */
    background: #FFC145;
    border-radius: 0.8rem;
    /* display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; */
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-size: 0.8rem;
    width: 163.21px;
    height: 41.03px;
    transition: 0.3s;
    margin-top: 1rem;

}

.upgrade_btn:hover  {
    background: #197BBD;
    transition: 0.3s;
}

.navbar_items_active    {
    color: #197BBD;
}
.navbar_items   {
    color: #C7C7C7;
    font-size: 1rem;
}
.navbar_items:hover {
    color: #197BBD;

}
.navbar_block:hover  {
    background: #F0F7FF;
color: #197BBD;}
.navbar_block:hover li {
    color: #197BBD;

}

.navbar_items_active    {
    color: #197BBD;
}
.navbar_icons4   {
    padding-left: 2px;
}
.main   {
    background: linear-gradient(121.32deg, #FFFFFF 10.96%, #FFFFFF 72%, #FFFFFF 99.98%);
box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 59px;
    max-width: 1470px;
    margin: 0 auto;

    width: 100%;
    height: 100%;
    display: flex;
}
.border_line    {
    width: 2px;
    min-height: 100vh;
    background: #c9c9c9;
        display: flex;
    flex-direction: column;
}

.main_container {
    background: linear-gradient(121.32deg, #FFFFFF 10.96%, #FFFFFF 72%, #FFFFFF 99.98%);
box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 59px;
    max-width: 1470px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.header     {
    display: flex;
    justify-content: space-between;
}
.header_profile  {
    display: flex;
    align-items: center;
}
.header_mail    {
    width: 20px;
    height: 16px;
}
.header_bell {
    width: 24px;
    height: 24px;
    margin-left: 15px;
    margin-top: 3px;
}

.header_photo   {
    height: 30px;
    width: 30px;
    background: #FFC145;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 9px;
}
.header_name    {
    font-family: 'PT Sans';
    color: #404040;
    font-weight: 600;
    font-size: 0.9rem;
}
.header_account {
    color: #AEAEAE;
    font-family:'PT Sans';
    font-weight: 400;
    font-size: 0.8rem;
    margin-right: 47px;
}

.header_title   {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 600;
color: #404040;
font-size: 2.7rem;
color: #404040;
margin-left: 46px;

}
.header_subtitle    {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
color: #AEAEAE;
font-size: 1rem;
margin-left: 45px;
}

.main_block {
    max-width: 1470px;
    margin: 0 auto;

    background: linear-gradient(121.32deg, #FFFFFF 10.96%, #FFFFFF 72%, #FFFFFF 99.98%);
box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 59px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 530px 350px;
}
.item   {
    background-color: #197BBD;
    padding: 10px;
}
.item1  {
    display: flex;
    margin-top: 2.5rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 28px;
}
.item3  {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 28px;
}

.slide  {
   margin-left: 2rem;
    max-width: 320px;
    width: 100%;
    height: 16px;
    background: #bebbbb;
border-radius: 13.617px;
}
.slide_btn  {
    max-width: 50px;
    width: 100%;
    height: 16px;
    background: #197BBD;
border-radius: 10.7766px;
outline: none;
border: none;
}
.card_block_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.card_title {
margin-left: 24px;
font-family: 'PT Sans';
font-style: normal;
font-weight: 600;
font-size: 20.1118px;
line-height: 25px;
color: #404040;
}
.slide_text {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.slide_title    {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #AEAEAE;
}
.slide_price    {
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #404040;
}

.line {
    height: 149.86px;
    border: 1px solid #E8E8E8;
    width: 0;
    margin-bottom: 3rem;
}
.card_prices    {
    margin-top: 3.2rem;
    margin-left: 2rem;
}
.right  {
    margin-right: 20px;
}
.card_prices_title  {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1.5rem;
color: #197BBD;
}
.card_prices_title2 {
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 1rem;
color: #439A86;
text-align: right;
}
.card_prices_title3   {
    text-align: right;
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 1rem;

/* red */

color: #BB4430;
}
.card_prices_title  span {
    font-size: 1.5rem;
}
.card_prices_subtitle   {
    margin-top: 0.6px;
    margin-bottom: 13px;
    text-align: right;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 0.8rem;
color: #AEAEAE;
}
.prices_slide   {
    margin-top: 1.8rem;
    margin-left: 3rem;
    width: 45.69px;
height: 23.45px;
background: #acacac;
border-radius: 13.617px;
}
.prices_slide_btn   {
    width: 23.45px;
height: 23.45px;
background: #CDCDCD;
border-radius: 13.617px;
border: none;
display: flex;
outline: none;
}

.item2  {
    margin-top: 2.5rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
border-radius: 28px;
}
.goals_header   {
 display: flex;
 margin-bottom: 13px;
 margin-left: 24px;
}
.plus   {
    width: 24px;
height: 24px;
align-items: center;
text-align: center;
}
.goals_title {
margin-right: 7px;
font-family:'PT Sans';
font-style: normal;
font-weight: 600;
font-size: 20.1118px;
line-height: 25px;
color: #404040;
}

.goals_block  {
    margin-left: 14px;
    width: 157.93px;
    padding-left: 24px;
    padding-top: 13px;
height: 168.74px;
box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 28px;
}
.goals  {
    display: flex;
    align-items: center;
}
.goals_price    {
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 23.9789px;
line-height: 29px;

color: #696969;

}
.goals_date {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
margin-bottom: 2.5rem;
color: #AEAEAE;

}
.goals_bottom_text  {
    font-family:'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 20.1118px;
text-align: left;
display: flex;
align-items: center;
color: #404040;

}
.goals_bottom_text2  {
    font-family:'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 20.1118px;
text-align: left;
display: flex;
align-items: center;
margin-top: 8px;
color: #404040;

}
.right_btn  {
   margin-left: 12px;
}

.item3 {
    margin-top: 2.5rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
border-radius: 28px;
}
.trans_items    {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 17px;
    color: #404040;
}
.item_block {
    display: flex;
    justify-content: space-between;
}
.item_title    {
    font-family:'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    
    color: #AEAEAE;
}
.trans_title    {
    margin-left: 24px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20.1118px;
    color: #404040;
}


.type_text  {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 1rem;
color: #C7C7C7;
}

.date_text  {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #C7C7C7;
}

.amount_text    {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
text-align: right;
color: #404040;
}
.trans_block    {
    margin-left: 24px;
}

.hor_line   {
    display: flex;
    border: 2px solid #404040;
    width: 100%;
    height: 2px;
}
.outcome_block  {
display: flex;
flex-direction: column;

}
.out_block  {
    display: flex;
   
    margin-top: 1.2rem;
}

.out_slide  {
    display: flex;
    flex-direction: row;
    width: 367.74px;
height: 9.47px;
background: #F1F1F1;
border-radius: 13.617px;
}
.out_slide_btn  {
    width: 267.74px;
    height: 9.47px;
    border: none;
    outline: none;
    background: linear-gradient(270deg, #FCAE73 0%, #F79042 99.18%);
    border-radius: 10.7766px;
    
}
.out_slide_btn3 {
    width: 307.74px;
    height: 9.47px;
    border: none;
    outline: none;
    border-radius: 10.7766px;
    background: #70A6E8;
    
}
.out_slide_btn2 {
    width: 107.74px;
    height: 9.47px;
    border: none;
    outline: none;
    border-radius: 10.7766px;
    background: linear-gradient(90deg, #209D43 0%, #2BC255 100%);    
}

.out_text   {
    font-family:  'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #AEAEAE;
margin-bottom: 1.8rem;
}
.outcome_img_block  {
    margin-right: 15px;
    margin-bottom: 25px;
    background: #FFEADA;
height: 40px;
width: 40px;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 3px;
}
.outcome_img_block3  {
    margin-right: 15px;
    margin-bottom: 25px;

height: 40px;
width: 40px;
display: flex;
align-items: center;
justify-content: center;
background: #E4F0FF;
box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 3px;
}

.out_percent    {
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size:1.5rem;
margin-left: 15px;
color: #696969;

}
.out_title  {
    font-family:'PT Sans';
    margin-left: 24px;
    margin-top: 2rem;
font-style: normal;
font-weight: 600;
font-size: 20.1118px;
color: #404040;
}
.item4 {
    margin-top: 2.5rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
border-radius: 28px;
}

.people_title   {
    margin-left: 24px;
    font-family:'PT Sans';
font-style: normal;
font-weight: 600;
font-size: 20.1118px;
line-height: 25px;
color: #404040;
}

.people     {
    display: flex;
}

.people_img {
    background: url(/css/img/person1.jpg);
    border-radius: 50%;
}

.people_imgs {
margin-right: 12px;
background-repeat: no-repeat;
}
.people_text   {
    font-family:'PT Sans';
font-style: normal;
font-weight: lighter;
font-size: 12px;
color: #404040;
margin-left: 10px;
}

.people_add_block   {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.circle {
    margin-top: 10px;
    margin-bottom: 12px;
}

.people_block {
    margin-top: 10px;
}

.input_block    {
    display: flex;
    margin-top: 1rem;
}

.input_numbers  {
    margin-right: 10px;
    border: 1px solid #197BBD;
    border-radius: 8px;
    width: 10rem;
height: 2rem;
padding-left: 10px;
font-size: 1.2rem;
font-family: 'Lato';
color: #C7C7C7;
font-family: 'Lato';
position: relative;
}

.trans_btn  {
    width: 131.59px;
height: 2rem;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 11.1442px;
line-height: 14px;
border: none;
outline: none;
color: #404040;
background: #FFC145;
border-radius: 13.617px;
align-items: center;
display: inline-block;
align-items: center;
}

.red_block  {
  
  
background-color: #ED654C;
    box-shadow: 0px 0px 50px rgb(0 0 0 / 5%);
    border-radius: 19.0044px;

}
.red_img    {
    vertical-align: middle;
}

.big_block  {
    display: flex;
}
.first_block    {
    margin-top: 10px;
}
.second_block   {
    margin-left: 20px;
}
.red_text   {
    margin-left: 30px;
}

.red_link   {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 600;
font-size: 20.1118px;
text-decoration: none;
color: #FFFFFF;
}
.trans_img  {
    margin-right: 5px;
    width: 11px;
    height: 10.5px;
   
}
.trans {
    display: flex;
  align-items: center;
    white-space: nowrap;
}